{% extends 'base.html.twig' %}

{% block title %}Consultas{% endblock %}
{%block body%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
    .example-wrapper {margin: 1em auto; max-width: 800px; width:95%; font:18px/1.5 sans-serif; }
    .example-wrapper code { background: #F55F5; padding:2px 6px}
</style>
<h1> Consultas</h1>
<hr>
<h3>Todos los restaurantes</h3>
<hr>
<table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Correo</th>
            <th>Clave</th>
            <th>País</th>
            <th>Cp</th>
            <th>Ciudad</th>
            <th>Dirección</th>
        </tr>
    {%for res in restaurantes%}
        <tr>
            <td>
            {{res.id}}
            </td>
            <td>
            {{res.correo}}
            </td>
            <td>
            {{res.clave}}
            </td>
            <td>
            {{res.pais}}
            </td>
            <td>
            {{res.cp}}
            </td>
            <td>
            {{res.ciudad}}
            </td>
            <td>
            {{res.direccion}}
            </td>

        </tr>
    {%else%}
        <tr>
            <td>No hay datos para mostrar</td>
        </tr>
    {% endfor %}
    
</table>

<h3>Todos los pedidos</h3>
<hr>
<table class="table table-hover">
        <tr>
            <th>Id pedido</th>
            <th>Id restaurante</th>
            <th>Fecha</th>
            <th>Enviado</th>
        </tr>
    {%for ped in pedidos%}
        <tr>
            <td>{{ped.id}}</td>
            <td>{{ped.restaurante}}</td>
            <td>{{ped.fecha}}</td>
            <td>{{ped.enviado}}</td>
        </tr>
    {%else%}
        <tr>
            <td>No hay datos para mostrar</td>
        </tr>
    {% endfor %}
</table>
{%endblock%}